@model ProyectoInmuebles.Models.Inmueble

@{
    ViewData["Title"] = "CreateInmuebles";
}

<h1>CreateInmuebles</h1>

<h4>Inmueble</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateInmuebles" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="display: none;">
                <label asp-for="idInmueble" class="control-label"></label>
                <input asp-for="idInmueble" class="form-control" />
                <span asp-validation-for="idInmueble" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idTipoInmueble" class="control-label"></label>
                <select asp-for="idTipoInmueble" asp-items="@ViewBag.tipoInmuebles" class="form-select"></select>
                <span asp-validation-for="idTipoInmueble" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="descInmueble" class="control-label"></label>
                <input asp-for="descInmueble" class="form-control" />
                <span asp-validation-for="descInmueble" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ubiInmueble" class="control-label"></label>
                <input asp-for="ubiInmueble" class="form-control" />
                <span asp-validation-for="ubiInmueble" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="costoInmueble" class="control-label"></label>
                <input asp-for="costoInmueble" class="form-control" />
                <span asp-validation-for="costoInmueble" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idDistrito" class="control-label"></label>
                <select asp-for="idDistrito" asp-items="@ViewBag.distritos" class="form-select"></select>
                <span asp-validation-for="idDistrito" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="formFile" class="control-label"></label>
                <input asp-for="formFile" class="form-control" type="file" />
            </div>

            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="ListaDeInmuebles" class="btn btn-primary">Lista De Inmuebles</a>
</div>

@if (@ViewBag.mensaje != null)
{
    <div class="alert alert-danger">
        @ViewBag.mensaje
    </div>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
