@model ProyectoInmuebles.Models.Usuario

@{
    ViewData["Title"] = "IniciarSesion";
}

<div class="login-container">
    <h2>Iniciar Sesión</h2>
    <div class="col-md-4">
        <form asp-action="IniciarSesion">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" placeholder="Email" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="contra" class="control-label"></label>
                <input asp-for="contra" class="form-control" type="password" placeholder="Contraseña" />
                <span asp-validation-for="contra" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Iniciar Sesion" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@if (@ViewBag.error != null)
{
    <div class="alert-danger mt-4 p-4">
        @ViewBag.error
    </div>
}


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
