@model ProyectoInmuebles.Models.Usuario

@{
    ViewData["Title"] = "IniciarSesion";
}

<h1>IniciarSesion</h1>

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="IniciarSesion">
            
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!--<div class="form-group">
                <label asp-for="codigo" class="control-label"></label>
                <input asp-for="codigo" class="form-control" />
                <span asp-validation-for="codigo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="nombre" class="control-label"></label>
                <input asp-for="nombre" class="form-control" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="apellido" class="control-label"></label>
                <input asp-for="apellido" class="form-control" />
                <span asp-validation-for="apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="telefono" class="control-label"></label>
                <input asp-for="telefono" class="form-control" />
                <span asp-validation-for="telefono" class="text-danger"></span>
            </div>
            -->
            
            
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="contra" class="control-label"></label>
                <input asp-for="contra" class="form-control" />
                <span asp-validation-for="contra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Iniciar Sesion" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@if(@ViewBag.error !=null){
    <div class="alert-danger">
        @ViewBag.error
    </div>
}


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
